<div container>
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="">Angular</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/languages">Languages</a>
          <a class="nav-item nav-link" routerLink="/cats">Cats</a>  
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid text-center">
  <div class="alert alert-success" role="alert">
    Welcome to {{ title }}!
  </div>
  <router-outlet></router-outlet>
</div>
